/* brown #512200 */

html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

header{
  background-image: url("../images/beetles.svg"), url("../images/beetles.svg"), url("../images/background.png");
  background-size: 75px auto, 75px auto, 250px auto;
  padding-top: 3em;
  padding-bottom: 3em;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: right 25px, left 25px, left top;
  display: block;

}

h1{
  text-align: center;
  margin: 0;
  font-size: 3em;
  color: #512200;
  padding-bottom: 0.5em;

}

nav{
  width: 100%;
  background-color: #512200;
  opacity: 0.75;
}

nav ol{
  padding-bottom: 0;
  text-align: center;
  list-style-type: none;
  margin: 0;
}

nav li{
  display: block;
  float:left;
  width: 25%;
  margin: 0;
}

nav a{
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  background-color: #512200;
  opacity: 0.75;
  padding: 0.87em;
}

nav a:hover{
  background-color:#512200;
  opacity: 0.97;
}

.text{
  background-image: url("../images/rocks.jpg");
  background-size: 100%;
  padding-top: 9em;
  margin: 0;
  background-repeat: no-repeat;
  background-position: left top;
}

.info{
  color: white;
  font-weight: bold;
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: center;
}

img{
  float: left;
  width: 50%;
  overflow: hidden;
  margin: 0;
}

footer{
  background-image: url("../images/beetles.svg");
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: center 10px;
}

.footer{
  background-color: #512200;
  opacity: 0.5;
  padding: 2em;
}
